{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="{{ path("home") }}">Weather Forecasts</a>

        <div class="container-fluid main-nav-items" >
            <ul class="navbar-nav d-flex">
                <li class="nav-item {{ app.request.pathinfo == 'home' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item {{ app.request.pathinfo == 'forecasts' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_forecast_index') }}">Forecasts</a>
                </li>

                <li class="nav-item {{ app.request.pathinfo == 'app_location_index' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_location_index') }}">Locations</a>
                </li>

                {#<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('app_location_index') }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Locations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_location_index') }}">All</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>#}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
