{% extends 'boxed-layout.html.twig' %}

{% block title %} Forecast {% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Forecast code : {{ location.countryCode }} in city: {{ location.name }}</h1>
            <h3>Latitude: {{ location.latitude }} and Longitude: {{ location.longitute }}</h3>
        </div>
    </div>

    <div class="row mt-3 forecasts">
        {% for forecast in forecasts %}
            <div class="col-12 col-lg-6">
                <div class="forecast-card">
                    <strong>Temperature:</strong> {{ forecast.tempaeratureCelsius }}<br>
                    <strong>Humidity:</strong> {{ forecast.humidity }}°C<br>
                    <strong>Wind Speed:</strong> {{ forecast.windSpeed }} <br>
                    <strong>Pressure:</strong> {{ forecast.pressure }} km/h<br>
                </div>
            </div>
        {% else %}
            <li>No forecast data available.</li>
        {% endfor %}
    </div>
{% endblock %}
